<table class="calendar" id="{{ next_month.0 }}-{{ next_month.1 }}">
  <tr><th class="month" colspan="7">{{ full_date|date:"M Y" }}</th></tr>
  <tr>
    <td>Monday</td>
    <td>Tuesday</td>
    <td>Wednesday</td>
    <td>Thursday</td>
    <td>Friday</td>
    <td>Saturday</td>
    <td>Sunday</td>
  </tr>
  {% for week in events %}
  <tr>
    {% for shifts, accepted, validated, swaped, top_div, bottom_div in week %}
      <td class="{{ shifts.date|date:"l_d_F_Y" }}" onclick="displayBlock(this, 'calendar')">
        <div class='date'>
          {{ shifts.date|date:"j" }}
          {% if accepted and validated %}
            <i class="fa-solid fa-arrow-right-arrow-left"></i>
            <div id="{{ swaped }}"></div>
          {% elif accepted %}
            <i class="fa-solid {{ accepted }}"></i>
          {% endif %}
        </div>
        <div class="{{ top_div }}">
          <p id='shift' class="{{ shifts.shift_name }}">{{ shifts.shift_name|truncatechars:5 }}</p>
          <p>{{ shifts.start_hour.time|default_if_none:"" }}</p>
          <p>{{ shifts.end_hour.time|default_if_none:"" }}</p>
          <div class="{{ bottom_div }}"></div>
        </div>
      </td>
    {% endfor %}
  </tr>
 {% endfor %}
</table>
