<div class="month"><p>{{ full_date|date:"F Y" }}</p></div>
<div class="table-calendar" id="{{ next_month.0 }}-{{ next_month.1 }}">
  {% for week in events %}
  <div class="week">
    {% for shifts, accepted, validated, swaped, top_div, bottom_div in week %}
      <div id="cell" class="{{ shifts.date|date:"l_d_F_Y" }}" onclick="displayBlock(this, 'calendar')">
        <div class={{ shifts|yesno:'date,' }}>
          <p>{{ shifts.date|date:"j" }}</p>
          {% if accepted and validated %}
            <i class="fa-solid fa-arrow-right-arrow-left"></i>
            <div id="{{ swaped }}"></div>
          {% elif accepted %}
            <i class="fa-solid {{ accepted }}"></i>
          {% endif %}
        </div>
        <div class="{{ top_div }}">
          <p id='shift' class="{{ shifts.shift_name }}">{{ shifts.shift_name|truncatechars:5 }}</p>
          <p>{{ shifts.start_hour.time|default_if_none:"" }}</p>
          <p>{{ shifts.end_hour.time|default_if_none:"" }}</p>
        </div>
        <div class="{{ bottom_div }}"></div>
      </div>
    {% endfor %}
  </div>
 {% endfor %}
</div>
