{% extends 'calendrier/base.html' %}

{% block content %}

{% if not gifts and not accepted_leaves and not request_leaves and not accepted_shifts and not request_shifts %}
<h3>Aucun échanges, ni de congés mis en concours</h3>
{% endif %}

{% if gifts %}
<h3>Congés mis en concours</h3>
<table class="table">
  <tr>
    <th>Date</th>
  </tr>
{% endif %}

{% for gift in gifts %}
<tr class="td-bottom">
  <td>
    {{ gift.1|date:"l d.m.y" }}
    <form action="delete/" method="post">
      {% csrf_token %}
      {{ gifts_form|get_item:gift.0 }}
      <input value="Supprimer" name="status" type="submit"></input>
    </form>
  </td>
</tr>
{% endfor %}

{% if gifts %}
</table>
{% endif %}

{% if accepted_leaves %}
<h3>Congés échangés</h3>
<table class="table">
  <tr>
    <th>Tour</th>
    <th>Date</th>
    <th>Horaire</th>
    <th>Collègue</th>
  </tr>
{% endif %}

{% for accept in accepted_leaves %}
<tr>
  <td>{{ accept.0 }}</td>
  <td>{{ accept.1|date:"l d.m.y" }}</td>
  <td>
    {{ accept.2|default_if_none:'-' }}</br>
    {{ accept.3|default_if_none:'-' }}
  </td>
  <td>
    {{ accept.4 }}</br>
    {{ accept.5 }}
  </td>
  <td>{{ accept.6|default_if_none:'-' }}</td>
</tr>
<tr class="td-bottom">
  <td colspan="5">
    {% if accept.7 %}
      <p>En échange : {{ accept.7|date:"l d.m.y" }}</p>
    {% else %}
      <p>À discuter</p>
    {% endif %}
  </td>
</tr>
{% endfor %}

{% if accepted_leaves %}
</table>
{% endif %}

{% if request_leaves %}
<h3>Congés à échanger</h3>
<table class="table">
  <tr>
    <th>Date</th>
    <th>Horaire</th>
    <th>Congés</th>
  </tr>
{% endif %}

{% for data in request_leaves %}
<tr class="td-bottom">
  <td>
    </br>{{ data.1|date:"l d.m.y" }}
  </td>
  <td>
    {{ data.2|default_if_none:'-' }}</br>
    {{ data.3|default_if_none:'-' }}
  </td>
  <td>
    <form id="test" action="validate/" method="post" style="text-align: center">
      {% csrf_token %}
      {{ leaves|get_item:data.4 }}
      <input value="{{ data.8 }}" name="id" type="hidden">
      <input value="Accept" name="status" type="submit"></input>
      <input value="Decline" name="status" type="submit"></input>
    </form>
  </td>
  <td>
    <i class="fa-solid fa-info"></i>
  </td>
</tr>
{% endfor %}

{% if request_leaves %}
</table>
{% endif %}

{% if accepted_shifts %}
<h3>Tours échangés</h3>
<table class="table">
  <tr>
    <th>Tour</th>
    <th>Date</th>
    <th>Horaire</th>
    <th>Collègue</th>
    <th>Notes</th>
  </tr>
{% endif %}

{% for accept_shift in accepted_shifts %}
<tr class="td-bottom">
  <td>{{ accept_shift.0 }}</td>
  <td>{{ accept_shift.1|date:"l d.m.y" }}</td>
  <td>
    {{ accept_shift.2|default_if_none:'-' }}</br>
    {{ accept_shift.3|default_if_none:'-' }}
  </td>
  <td>
    {{ accept_shift.4 }}</br>
    {{ accept_shift.5 }}
  </td>
  <td>{{ accept_shift.6|default_if_none:'-' }}</td>
</tr>
{% endfor %}

{% if accepted_shifts %}
</table>
{% endif %}

{% if request_shifts %}
<h3>Tours à échanger</h3>
<table class="table">
  <tr>
    <th>Tour</th>
    <th>Date</th>
    <th>Horaire</th>
  </tr>
{% endif %}

{% for shift in request_shifts %}
<tr class="td-bottom">
  <td>
    {{ shift.1 }}
  </td>
  <td>
    {{ shift.2|date:"l d.m.y" }}
  <td>
    {{ shift.3|default_if_none:'-' }}</br>
    {{ shift.4|default_if_none:'-' }}
  </td>
  <td>
    <form id="test" action="validate/" method="post" style="text-align: center">
      {% csrf_token %}
      {{ request_shifts_forms|get_item:shift.0 }}
      <input value="{{ shift.0 }}" name="id" type="hidden">
      <input value="Accept" name="status" type="submit"></input>
      <input value="Decline" name="status" type="submit"></input>
    </form>
  </td>
  <td>
    <i class="fa-solid fa-info"></i>
  </td>
</tr>
{% endfor %}

{% if request_leaves %}
</table>
{% endif %}

{% endblock %}
