<header>
  <div class="topnav" id="topnav">
    <a href="#home" class="active">Quai1 ++</a>
    <a href="souhaits/">Souhaits</a>
    <a href="aide/">Aide</a>
    <a href="parametres/">Paramètres</a>
    <a href="{% url 'logout' %}">Se déconnecter</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction('topnav')">
      <i class="fa fa-bars"></i>
    </a>
  </div>

  <script>
    function myFunction(id) {
      var x = document.getElementById(id);
      console.log(id)
      if (x.className === id) {
          x.className += " responsive";
            
          } else {
              x.className = id;

          }

    }

      function switchBlock() {
        myFunction('calendar')
        myFunction('box')

      }

      function displayBlock(obj, id) {
        var x = document.getElementById('calendar')
        var y = document.getElementById('box')
        if (x.className === 'calendar') {
          x.className += " responsive"
          y.className += " responsive"

        }

        full_date = obj.className.replace(/_/g, ' ')
        document.getElementById("full_date").innerHTML = full_date

    }
  </script>

</header>
