{% extends 'calendrier/base.html' %}

{% block content %}

{% if not accepted_wishes and not wishes and not schedules and not accepted_shifts %}
<h3>Aucun souhaits</h3>
{% endif %}

{% if accepted_wishes %}
<h3>Congés échangés</h3>
<table class="table">
  <tr>
    <th>Date</th>
    <th>Horaire</th>
    <th>Collègue</th>
    <th>Congé échangé</th>
    <th>Note</th>
  </tr>
{% endif %}

{% for accepted in accepted_wishes %}
<tr class=td-bottom>
  <td>{{ accepted.0|date:"l d.m.y" }}</td>
  <td class="hour">
    {{ accepted.1|default_if_none:"-" }}</br>
    {{ accepted.2|default_if_none:"-" }}
  </td>
  <td>
    {{ accepted.3 }}</br>
    {{ accepted.4 }}
  </td>
  {% if not accepted.5 %}
    <td>À discuter</p></td>
  {% else %}
    <td>{{ accepted.5|date:"l d.m.y" }}</td>
  {% endif %}
  <td>{{ accepted.6 }}</td>
</tr>
{% endfor %}

{% if accepted_wishes %}
</table>
{% endif %}

{% if accepted_shifts %}
<h3>Tours échangés</h3>
<table class="table">
  <tr>
    <th>Date</th>
    <th>Horaire</th>
    <th>Collègue</th>
    <th>Note</th>
  </tr>
{% endif %}

{% for accepted_shift in accepted_shifts %}
<tr class=td-bottom>
  <td>{{ accepted_shift.0|date:"l d.m.y" }}</td>
  <td class="hour">
    {{ accepted_shift.1|default_if_none:"-" }}</br>
    {{ accepted_shift.2|default_if_none:"-" }}
  </td>
  <td>
    {{ accepted_shift.3 }}</br>
    {{ accepted_shift.4 }}
  </td>
  <td>{{ accepted_shift.5 }}</td>
</tr>
{% endfor %}

{% if accepted_shifts %}
</table>
{% endif %}

{% if wishes %}
<h3>Congés souhaités</h3>
<table class="table">
  <tr>
    <th>Date</th>
    <th>Horaire</th>
    <th>Note</th>
  </tr>
{% endif %}

{% for wish in wishes %}
  <tr>
    <td>{{ wish.1|date:"l d.m.y" }}</td>
    <td>
      {{ wish.2|default_if_none:'-' }}</br>
      {{ wish.3|default_if_none:'-' }}
    </td>
    <td>{{ wish.4|default_if_none:'' }}</td>
  </tr>
  <tr class="td-bottom">
    <td colspan="3">
      <form action="delete/" method="post">
        {% csrf_token %}
        {{ wishes_form|get_item:wish.0 }}
        <input value="Supprimer" name="status" type="submit"></input>
      </form>
    </td>
  </tr>
{% endfor %}

{% if wishes %}
</table>
{% endif %}

{% if schedules %}
<h3>Tours souhaités</h3>
<table class="table">
  <tr>
    <th>Date</th>
    <th>Souhait</th>
    <th>Note</th>
  </tr>
{% endif %}

{% for day in schedules %}
  <tr>
    <td>{{ day.1|date:"l d.m.y" }}</td>
    <td>{{ day.2|default_if_none:'' }}</td>
  </tr>
  <tr class="td-bottom">
    <td colspan="3">
      <form action="delete/" method="post">
        {% csrf_token %}
        {{ schedules_form|get_item:day.0 }}
        <input value="shift" name="shift" type="hidden">
        <input value="Supprimer" name="status" type="submit"></input>
      </form>
    </td>
  </tr>
{% endfor %}

{% if schedules %}
</table>
{% endif %}


{% endblock %}
